{
    "rules": {
        "indent": [2, "tab", {
            "SwitchCase": 1
        }],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "never"],
        "no-underscore-dangle": 0,
        "camelcase": [2, {
            "properties": "always"
        }],
        "no-console": 0,
        "new-cap": 0,
        "no-multi-spaces": 2,
        "no-unused-vars": [2, {
            "vars": "all",
            "args": "none"
        }],
        "comma-spacing": [2, {
            "before": false,
            "after": true
        }],
        "space-in-parens": [2, "always"],
        "space-before-function-paren": [2, "never"],
        "array-bracket-spacing": [2, "always"],
        "object-curly-spacing": [2, "always"],
        "block-spacing": [2, "always"],
        "key-spacing": [2, {
            "beforeColon": false,
            "afterColon": true,
            "mode": "strict"
        }],
        "no-trailing-spaces": 2,
        "computed-property-spacing": [2, "always"],
        "no-multiple-empty-lines": [2, {
            "max": 2
        }],
        "eol-last": 2
    },
    "globals": {
        "require": true,
        "__dirname": true,
        "__filename": true
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "ecmaFeatures": {
        "modules": true
    }
}
