{
    "extends": [
        "plugin:import/errors"
    ],
    "plugins": [
        "import"
    ],
    "settings": {
        "import/ignore": [
            "node_modules"
        ]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module"
    },
    "rules": {
        "indent": ["error", "tab", {
            "SwitchCase": 1
        }],
        "quotes": ["error", "single"],
        "linebreak-style": ["error", "unix"],
        "semi": ["error", "never"],
        "no-underscore-dangle": "off",
        "camelcase": ["error", {
            "properties": "always"
        }],
        "no-console": "off",
        "new-cap": "off",
        "no-multi-spaces": "error",
        "no-unused-vars": ["error", {
            "vars": "all",
            "args": "none"
        }],
        "no-var": "error",
        "no-dupe-keys": "error",
        "no-dupe-args": "error",
        "no-const-assign": "error",
        "no-param-reassign": "error",
        "comma-spacing": ["error", {
            "before": false,
            "after": true
        }],
        "comma-dangle": [ "error", {
          "arrays": "always-multiline",
          "objects": "always-multiline",
          "imports": "always-multiline",
          "exports": "always-multiline",
          "functions": "always-multiline",
        } ],
        "space-in-parens": ["error", "always"],
        "space-before-function-paren": ["error", "never"],
        "array-bracket-spacing": ["error", "always"],
        "object-curly-spacing": ["error", "always"],
        "block-spacing": ["error", "always"],
        "key-spacing": ["error", {
            "beforeColon": false,
            "afterColon": true,
            "mode": "strict"
        }],
        "no-trailing-spaces": "error",
        "computed-property-spacing": ["error", "always"],
        "no-multiple-empty-lines": ["error", {
            "max": 2
        }],
        "eol-last": "error"
    }
}
