*.sublime-project
*.sublime-workspace
.babelrc
.eslintignore
.eslintrc.js
.gitignore
.npmignore
.nyc_output
.travis.yml
.travis.yml
coverage/
dist/.keep
ISSUE_TEMPLATE.md
local/
node_modules/
package-lock.json
test/
vendor/